<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h5 style="color: white;">GoZellGesund</h5>
        <p>Dein Weg zu mehr Zellgesundheit mit testbasierter Nahrungsergänzung.</p>
      </div>
      <div class="col-md-3">
        <h5 style="color: white;">Links</h5>
        <ul class="list-unstyled">
          <li><a href="#about" style="color: white;">Über mich</a></li>
          <li><a href="#zinzino" style="color: white;">Zinzino erklärt</a></li>
          <li><a href="#produkte" style="color: white;">Produkte</a></li>
          <li><a href="#faq" style="color: white;">FAQ</a></li>
          <li><a href="#blog" style="color: white;">Blog</a></li>
          <li><a href="#contact" style="color: white;">Kontakt</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5 style="color: white;">Lösungen</h5>
        <ul class="list-unstyled">
          <li><a href="pages/gesundheit-fuer-berufstaetige.html" style="color: white;">Berufstätige & Führungskräfte</a></li>
          <li><a href="pages/vorsorge-und-lebensqualitaet.html" style="color: white;">Menschen mit Beschwerden</a></li>
          <li><a href="pages/fokus-und-biohacking.html" style="color: white;">Biohacker & Gesundheitsbewusste</a></li>
          <li><a href="pages/betriebliches-gesundheitsmanagement.html" style="color: white;">Unternehmen</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5 style="color: white;">Kontakt</h5>
        <p>
          E-Mail: <a href="mailto:email@example.com" style="color: white;">email@example.com</a><br>
          Telefon: <a href="tel:+491234567890" style="color: white;">+49 123 456 7890</a>
        </p>
        <div class="mt-3">
          <h6 style="color: white;">Social Media</h6>
          <div class="d-flex justify-content-center gap-3 mt-2">
            <a href="https://instagram.com/" target="_blank" style="color: white; font-size: 1.5rem;"><i class="fab fa-instagram"></i></a>
            <a href="https://tiktok.com/" target="_blank" style="color: white; font-size: 1.5rem;"><i class="fab fa-tiktok"></i></a>
            <a href="https://facebook.com/" target="_blank" style="color: white; font-size: 1.5rem;"><i class="fab fa-facebook"></i></a>
            <a href="https://wa.me/491234567890" target="_blank" style="color: white; font-size: 1.5rem;"><i class="fab fa-whatsapp"></i></a>
          </div>
        </div>
      </div>
    </div>
    <hr style="border-color: rgba(255,255,255,0.2);">
    <p>&copy; 2025 GoZellGesund. Alle Rechte vorbehalten. |
      <a href="pages/impressum.html" style="color: white;">Impressum</a> |
      <a href="pages/datenschutz.html" style="color: white;">Datenschutz</a>
    </p>
  </div>
</footer>
